<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.funddetail.IFundDetailDao">
	<resultMap id="FundDetailEntity"
		type="com.herongwang.p2p.entity.funddetail.FundDetailEntity">
		<id property="detailId" column="detailId" jdbcType="VARCHAR" />
		<result property="orderId" column="orderId" jdbcType="VARCHAR" />
		<result property="accountId" column="accountId" jdbcType="VARCHAR" />
		<result property="customerId" column="customerId" jdbcType="VARCHAR" />
		<result property="type" column="type" jdbcType="INTEGER" />
		<result property="amount" column="amount" jdbcType="BIGINT" />
		<result property="balance" column="balance" jdbcType="BIGINT" />
		<result property="frozenAmount" column="frozenAmount"
			jdbcType="BIGINT" />
		<result property="dueAmount" column="dueAmount" jdbcType="BIGINT" />
		<result property="createTime" column="createTime" jdbcType="TIMESTAMP" />
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="incomeStatus" column="incomeStatus"
			jdbcType="INTEGER" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询交易明细 -->
	<select id="queryFundDetail" resultMap="FundDetailEntity"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT D.* FROM FundDetail D  WHERE 1=1 ]]>
		<!-- 会员名称 -->
		<if test="condition.customerId != null and condition.customerId != ''">
			<![CDATA[AND D.customerId =#{condition.customerId}]]>
		</if>
		<if test="condition.orderId != null and condition.orderId != ''">
			<![CDATA[AND D.orderId =#{condition.orderId}]]>
		</if>
		<!-- 查询类型 -->
		<if test="condition.type != null">
			<![CDATA[AND D.type = #{condition.type}]]>
		</if>
		<![CDATA[ ORDER BY D.sortId DESC]]>
	</select>
</mapper>