<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.orders.IOrdersDao">
	<resultMap id="OrdersEntity" type="com.herongwang.p2p.entity.orders.OrdersEntity">
		<id property="orderId" column="orderId" jdbcType="VARCHAR" />
		<result property="customerId" column="customerId" jdbcType="VARCHAR" />
		<result property="ordersNo" column="ordersNo" jdbcType="VARCHAR" />
		<result property="amount" column="amount" jdbcType="DOUBLE" />
		<result property="createTime" column="createTime" jdbcType="TIMESTAMP" />
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="orderType" column="orderType" jdbcType="INTEGER" />
		<result property="bankNo" column="bankNo" jdbcType="VARCHAR" />
		<result property="withdrawTime" column="withdrawTime" jdbcType="TIMESTAMP" />
		<result property="arriveTime" column="arriveTime" jdbcType="TIMESTAMP" />
		<result property="channel" column="channel" jdbcType="VARCHAR" />
		<result property="strSignMsg" column="strSignMsg" jdbcType="VARCHAR" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="statusText" column="statusText" jdbcType="VARCHAR" />
		<result property="typeText" column="typeText" jdbcType="VARCHAR" />
		<result property="tlNo" column="tlNo" jdbcType="VARCHAR" />
		<result property="manageFee" column="manageFee" jdbcType="VARCHAR" />
		<result property="actuaFee" column="actuaFee" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getOrdersByNo" resultMap="OrdersEntity" parameterType="String">
		<![CDATA[SELECT * FROM Orders WHERE ordersNo=#{ordersNo}]]>
	</select>
	<!-- 条件查询 -->
	<select id="query" resultMap="OrdersEntity"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[select o.orderId,o.ordersNo,o.amount,o.createTime,o.arriveTime,u.`name` ]]>
		<![CDATA[,p.TEXT as statusText,p1.TEXT as typeText,t.TL_BILL_NO as tlNo]]>
		<![CDATA[,t.ACTUAL_MONEY as actuaFee,(t.ACTUAL_MONEY-t.BILL_MONEY) as manageFee from Orders o ]]>
		<![CDATA[LEFT JOIN Users u on u.customerId = o.customerId ]]>
		<![CDATA[LEFT JOIN PARAMETERS p on p.TYPE='status' and p.`VALUE` = o.`status` ]]>
		<![CDATA[LEFT JOIN PARAMETERS p1 ON p1.TYPE='orderType' and p1.`VALUE` = o.orderType ]]>
		<![CDATA[LEFT JOIN TL_BILL t on t.MERCHANT_BILL_NO = o.ordersNo where 1=1 ]]>
		 <if test="condition.customerId != null and condition.customerId != ''">
		 	<![CDATA[AND u.customerId =#{condition.customerId}]]>
		 </if>
		 <if test="condition.orderType != null and condition.orderType != ''">
		 	<![CDATA[AND u.orderType =#{condition.orderType}]]>
		 </if>
		 <if test="condition.orderId != null and condition.orderId != ''">
		 	<![CDATA[AND o.orderId =#{condition.orderId}]]>
		 </if>
	</select>
</mapper>
