<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天天赚管理平台</title>
<meta name="keywords" content="天天赚管理平台">
<meta name="description" content="天天赚管理平台">
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
<link href="${b.staticPath}style/msg.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js" type="text/javascript"></script>
<script>
$(function(){
	  $("#login_form").keypress(function(e) {
		  if (e.which == 13) {
		    sub();
		  }
		  }); 
})
 function sub(){
	 $("#login_form").submit();
 }
</script>
</head>

<body>
<div id="header" class="fence">
  <div class="fence-wide">
    <p class="ly-right logOut"></p>
    <h1 class="fontYH fb ly-left" title="天天赚">管理平台</h1>
  </div>	
</div>
<div id="login" class="fence">
  <div class="fence-wide">
  <div class="loginBox fontYH">
      <div class="title fontYH f20">管理员登录<span class="f14 ml10">ADMIN LOGIN</span></div>
        <div class="regCont">
        <form id="login_form" action="login.htm" method="post">
        <div class="item">
          <label class="f16">登录帐号	</label>
          <input class="input" type="text" autocomplete="off" placeholder="" title="" id="" name="account" value="" />
          <#if message??>
	       <div class="msg-error"><span class="icon16 icon-error"></span>${message}</div>
    	</#if>
        </div>
        <div class="item">
          <label class="f16">登录密码</label>
          <input class="input" type="password" autocomplete="off" placeholder="" title="" name="password"/>
          <p></p>
        </div>
        </form>
      <a href="javascript:sub();" class="button btn-login">立即登录</a> </div>
</div>
  </div>
</div>
<@b.footer />
</body>
</html>
