<div class="yard-180 ly-left leftMenu fontYH" id="leftMenu">
      <ul>
        <li><a href="${basePath}user/manage.htm">会员管理</a></li>
        <li><a href="${basePath}apply/applyList.htm">融资申请管理</a></li>
        <li><a href="${basePath}tender/tenderList.htm">投资标管理</a></li>
        <li><a href="${basePath}deal/recharge.htm">充值管理</a></li>
        <li><a href="${basePath}deal/deposit.htm">提现管理</a></li>
      </ul>
 </div>
<script>
	$("#leftMenu a").removeClass("on");
	$("#leftMenu a").each(function(){
		if(window.location.href.indexOf($(this).attr("href"))>=0)
			$(this).addClass("on");
	});
</script>