<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.deal.IDealDetailDao">
	<resultMap id="DealDetailEntity"
		type="com.herongwang.p2p.entity.deal.DealDetailEntity">
		<id property="dealId" column="DEAL_ID" jdbcType="VARCHAR" />
		<result property="memberId" column="MEMBER_ID" jdbcType="VARCHAR" />
		<result property="dealType" column="DEAL_TYPE" jdbcType="INTEGER" />
		<result property="dealTime" column="DEAL_TIME" jdbcType="TIMESTAMP" />
		<result property="actuaTime" column="ACTUA_TIME" jdbcType="TIMESTAMP" />
		<result property="dealFee" column="DEAL_FEE" jdbcType="DOUBLE" />
		<result property="balance" column="BALANCE" jdbcType="DOUBLE" />
		<result property="actuaFee" column="ACTUA_FEE" jdbcType="DOUBLE" />
		<result property="manageFee" column="MANAGE_FEE" jdbcType="DOUBLE" />
		<result property="remark" column="REMARK" jdbcType="VARCHAR" />
		<result property="payNo" column="PAY_NO" jdbcType="VARCHAR" />
		<result property="orderNo" column="ORDER_NO" jdbcType="VARCHAR" />
		<result property="markId" column="MARK_ID" jdbcType="VARCHAR" />
		<result property="invId" column="INV_ID" jdbcType="VARCHAR" />
		<result property="planId" column="PLAN_ID" jdbcType="VARCHAR" />
		<result property="name" column="MEMBER_NAME" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询财务统计 -->
	<select id="query" resultMap="DealDetailEntity"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT D.*,M.MEMBER_NAME FROM DEAL_DETAIL D LEFT JOIN MEMBER M ON M.MEMBER_ID = D.USER_ID WHERE 1=1 ]]>
		<!-- 会员名称 -->
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[AND M.MEMBER_NAME LIKE CONCAT('%',#{condition.name},'%')]]>
		</if>
		<!-- 查询类型-->
		<if test="condition.dealType != null">
			<![CDATA[AND D.DEAL_TYPE = #{condition.dealType}]]>
		</if>
		<![CDATA[ ORDER BY D.DEAL_TIME DESC]]>
	</select>
</mapper>