<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.users.IUsersDao">
	<resultMap id="UserResultMap" type="com.herongwang.p2p.entity.users.UsersEntity">
		<id property="customerId" column="customerId" jdbcType="VARCHAR" />
		<result property="customerNo" column="customerNo" jdbcType="VARCHAR" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="registerTime" column="registerTime" jdbcType="TIMESTAMP" />
		<result property="email" column="EMAIL" jdbcType="VARCHAR" />
		<result property="cellphone" column="cellphone" jdbcType="VARCHAR" />
		<result property="cardNum" column="cardNum" jdbcType="VARCHAR" />
		<result property="cardHolder" column="cardHolder" jdbcType="VARCHAR" />
		<result property="cardNo" column="cardNo" jdbcType="VARCHAR" />
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="updateTime" column="updateTime" jdbcType="TIMESTAMP" />
		<result property="levelId" column="levelId" jdbcType="VARCHAR" />
		
		<result property="accountNumber" column="accountNumber" jdbcType="VARCHAR" />
		<result property="moneymoremoreId" column="moneymoremoreId" jdbcType="VARCHAR" />
		<result property="authState" column="authState" jdbcType="INTEGER" />
		
		<result property="tenderStatus" column="tenderStatus" jdbcType="INTEGER" />
		<result property="repaymentStatus" column="repaymentStatus" jdbcType="INTEGER" />
		<result property="allocationStatus" column="allocationStatus" jdbcType="INTEGER" />
		
	</resultMap>
	
	<select id="getUserByAccount" resultMap="UserResultMap"
		parameterType="String">
		<![CDATA[SELECT * FROM Users WHERE email=#{email} or cellphone=#{email}]]>
	</select>
	<select id="getUserByPhone" resultMap="UserResultMap"
		parameterType="String">
		<![CDATA[SELECT * FROM Users WHERE cellphone=#{phone}]]>
	</select>
    
    <!-- 查询会员列表 -->
    <select id="queryUserList" resultMap="UserResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[select * from Users where 1=1]]>
		<if test="condition.name != null and condition.name != ''">
		 <![CDATA[AND name LIKE CONCAT('%',#{condition.name},'%')]]>
		 </if>
		<if test="condition.repaymentStatus != null">
		 <![CDATA[AND repaymentStatus =#{condition.repaymentStatus}]]>
		 </if>
	</select>
    
	<!-- 条件查询会员 
	<select id="queryMembers" resultMap="UserResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT M.MEMBER_CODE,M.MEMBER_NAME,M.EMAIL,M.TEL,A.BANK_CODE,A.CODE_NAME,M.REGISTER_TIME
		 FROM MEMBER M,ACCOUNT  A WHERE M.MEMBER_ID=A.MEMBER_ID]]>
		 <if test="condition.memberCode != null and condition.memberCode != ''">
		 <![CDATA[AND M.MEMBER_CODE=#{condition.memberId}]]>
		 </if>
	</select>-->
	<select id="getUserNum" resultType="java.lang.Integer"
		parameterType="String">
		<![CDATA[SELECT COUNT(*) as num FROM Users]]>
	</select>
</mapper>
