<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.member.IMemberDao">
	<resultMap id="MemberResultMap" type="com.herongwang.p2p.entity.member.MemberEntity">
		<id property="memberId" column="MEMBER_ID" jdbcType="VARCHAR" />
		<result property="memberCode" column="MEMBER_CODE" jdbcType="VARCHAR" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
		<result property="memberName" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="availableM" column="AVAILABLE_M" jdbcType="DOUBLE" />
		<result property="registerTime" column="REGISTER_TIME" jdbcType="TIMESTAMP" />
		<result property="email" column="EMAIL" jdbcType="VARCHAR" />
		<result property="tel" column="TEL" jdbcType="VARCHAR" />
		<result property="cardNum" column="CARD_NUM" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="MemberInfoResultMap" type="com.herongwang.p2p.model.member.MemberModel">
		<id property="memberId" column="MEMBER_ID" jdbcType="VARCHAR" />
		<result property="memberCode" column="MEMBER_CODE" jdbcType="VARCHAR" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
		<result property="memberName" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="availableM" column="AVAILABLE_M" jdbcType="DOUBLE" />
		<result property="registerTime" column="REGISTER_TIME" jdbcType="TIMESTAMP" />
		<result property="email" column="EMAIL" jdbcType="VARCHAR" />
		<result property="tel" column="TEL" jdbcType="VARCHAR" />
		<result property="cardNum" column="CARD_NUM" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="bankCode" column="BANK_CODE" jdbcType="VARCHAR" />
		<result property="codeName" column="CODE_NAME" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getMmeberByAccount" resultMap="MemberResultMap"
		parameterType="String">
		<![CDATA[SELECT * FROM MEMBER WHERE MEMBER_CODE=#{account}]]>
	</select>

	<!-- 条件查询会员 -->
	<select id="queryMembers" resultMap="MemberInfoResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT M.MEMBER_CODE,M.MEMBER_NAME,M.EMAIL,M.TEL,A.BANK_CODE,A.CODE_NAME,M.REGISTER_TIME
		 FROM MEMBER M,ACCOUNT  A WHERE M.MEMBER_ID=A.MEMBER_ID]]>
		 <if test="condition.memberCode != null and condition.memberCode != ''">
		 <![CDATA[AND M.MEMBER_CODE=#{condition.memberId}]]>
		 </if>
	</select>
	<select id="getMemberModelByMemberId" resultMap="MemberInfoResultMap"
		parameterType="String">
		<![CDATA[SELECT M.MEMBER_CODE,M.MEMBER_NAME,M.EMAIL,M.TEL,A.BANK_CODE,A.CODE_NAME,M.REGISTER_TIME
		 FROM MEMBER M,ACCOUNT  A WHERE M.MEMBER_ID=A.MEMBER_ID AND M.MEMBER_ID=#{memberId}]]>
	</select>
</mapper>
