<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.tender.ITenderDao">
	<resultMap id="TenderEntity"
		type="com.herongwang.p2p.entity.tender.TenderEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="markId" column="MARK_ID" jdbcType="VARCHAR" />
		<result property="title" column="TITLE" jdbcType="VARCHAR" />
		<result property="borrower" column="BORROWER" jdbcType="VARCHAR" />
		<result property="repaymentType" column="REPAYMENT_TYPE" jdbcType="INTEGER" />
		<result property="borrpwTime" column="BORRPW_TIME" jdbcType="INTEGER" />
		<result property="interest" column="INTEREST" jdbcType="DOUBLE" />
		<result property="minAmount" column="MIN_AMOUNT" jdbcType="DOUBLE" />
		<result property="maxAmount" column="MAX_AMOUNT" jdbcType="DOUBLE" />
		<result property="manageFee" column="MANAGE_FEE" jdbcType="DOUBLE" />
		<result property="borrowingAmount" column="BORROWING_AMOUNT" jdbcType="DOUBLE" />
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
		<result property="fullTime" column="FULL_TIME" jdbcType="TIMESTAMP" />
		<result property="status" column="STATUS" jdbcType="INTEGER" />
		<result property="name" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="statusText" column="STATUSTEXT" jdbcType="VARCHAR" />
		<result property="repaymentText" column="REPAYMENTTEXT" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询投标信息 -->
	<select id="query" resultMap="TenderEntity"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT MI.*,M.MEMBER_NAME,P.TEXT AS STATUSTEXT,P1.TEXT AS REPAYMENTTEXT FROM MARK_INFO MI 
LEFT JOIN MEMBER M ON M.MEMBER_ID = MI.BORROWER
LEFT JOIN PARAMETERS P ON P.TYPE = 'TENDERTYPE' AND P.`VALUE` = MI.`STATUS`
LEFT JOIN PARAMETERS P1 ON P1.TYPE = 'REPAYMENTTYPE' AND P1.`VALUE` = MI.REPAYMENT_TYPE WHERE 1=1 ]]>

		<if test="condition.name != null and condition.name != ''">
			<![CDATA[AND M.MEMBER_NAME LIKE CONCAT('%',#{condition.name},'%')]]>
		</if>
		<![CDATA[ ORDER BY MI.CREATE_TIME DESC]]>
	</select>
</mapper>