<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.profitlist.IProfitListDao">
	<resultMap id="ProfitListEntity"
		type="com.herongwang.p2p.entity.profitlist.ProfitListEntity">
		<id property="profitId" column="profitId" jdbcType="VARCHAR" />
		<result property="orderId" column="orderId" jdbcType="VARCHAR" />
		<result property="sequence" column="sequence" jdbcType="INTEGER" />
		<result property="monthCapital" column="monthCapital" jdbcType="INTEGER" />
		<result property="monthProfit" column="monthProfit" jdbcType="INTEGER" />
		<result property="monthAmount" column="monthAmount" jdbcType="INTEGER" />
		<result property="leftAmount" column="leftAmount" jdbcType="INTEGER" />
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="createTime" column="createTime" jdbcType="TIMESTAMP" />
		<result property="updateTime" column="updateTime" jdbcType="TIMESTAMP" />
		<result property="fee" column="fee" jdbcType="INTEGER" />
	</resultMap>

	<select id="query" resultMap="ProfitListEntity"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM ProfitList WHERE 1=1 ]]>
		<if test="condition.orderId != null and condition.orderId != ''">
			<![CDATA[AND orderId=#{condition.orderId}]]>
		</if>
		<![CDATA[ ORDER BY sequence ASC]]>
	</select>
</mapper>