<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.herongwang.p2p.dao.repayPlan.IRepayPlanDao">
	<resultMap id="RepayPlanEntity"
		type="com.herongwang.p2p.entity.repayPlan.RepayPlanEntity">
		<id property="planId" column="planId" jdbcType="VARCHAR" />
		<result property="orderId" column="orderId" jdbcType="VARCHAR" />
		<result property="sequence" column="sequence" jdbcType="INTEGER" />
		<result property="debtId" column="debtId" jdbcType="VARCHAR" />
		<result property="monthCapital" column="monthCapital" jdbcType="INTEGER" />
		<result property="monthProfit" column="monthProfit" jdbcType="INTEGER" />
		<result property="monthAmount" column="monthAmount" jdbcType="INTEGER" />
		<result property="leftAmount" column="leftAmount" jdbcType="INTEGER" />
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="createTime" column="createTime" jdbcType="TIMESTAMP" />
		<result property="updateTime" column="updateTime" jdbcType="TIMESTAMP" />
		<result property="prepaidStatus" column="prepaidStatus" jdbcType="INTEGER" />
		<result property="redate" column="redate" jdbcType="TIMESTAMP" />
		<result property="auditStatus" column="auditStatus" jdbcType="INTEGER" />
	</resultMap>

	<!-- 条件查询还款计划 -->
	<select id="queryRepayPlan" resultMap="RepayPlanEntity"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM RepayPlan  WHERE 1=1 ]]>
		<!-- 会员名称 -->
		<if test="condition.orderId != null and condition.orderId != ''">
			<![CDATA[AND orderId =#{condition.orderId}]]>
		</if>
		<if test="condition.debtId != null and condition.debtId != ''">
			<![CDATA[AND debtId =#{condition.debtId}]]>
		</if>
		<![CDATA[ ORDER BY sequence ASC]]>
	</select>
	<select id="getRepayPlanList" resultMap="RepayPlanEntity"
		parameterType="String">
		SELECT * FROM RepayPlan WHERE planId IN
		<foreach collection="array" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
		<![CDATA[ ORDER BY sequence ASC]]>
	</select>
	<update id="updateRepayPlanStatus" parameterType="String">
		update RepayPlan set status=1 where planId in
		<foreach collection="array" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</update>
	<select id="getRepayPlanCount" parameterType="String" resultType="java.lang.Integer">
	<![CDATA[ SELECT COUNT(r.debtId) FROM RepayPlan r  WHERE r.orderId=#{orderId} AND r.status=0 AND r.prepaidStatus=0]]>
	</select>
	<select id="getRepayAudit" parameterType="String" resultMap="RepayPlanEntity">
	<![CDATA[ SELECT * FROM RepayPlan r WHERE  DATE_FORMAT(r.redate, '%Y%m%d')<=DATE_FORMAT(CURDATE(), '%Y%m%d') AND r.status=1 AND r.auditStatus=0]]>
	<if test="debtId != null and debtId != ''">
			<![CDATA[  AND r.debtId =#{debtId}]]>
	</if>
	</select>
</mapper>