<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>和融网-关于我们</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<@b.headerIndex />
<div class="fence-wide product">
<div class="yard-1100 local f14"><a href="${basePath}index.htm" class="lnk-green">和融网</a><span>&gt;</span>关于我们</div>
<div class="yard-1100 prodCont">
<div class="titMain">
  <h2 class="fontYH">关于我们</h2></div>
<div class="aboutBox fontYH f16">
<p>关于我们包括平台介绍、管理团队、资质荣誉、合作伙伴、发展历程、网站公告、网站规则、联系我们八部分内容，具体如下：</p>
<h3 class="titAbout">一、平台介绍：</h3>
<p>和融网（www.herongwangnt.com）是由江苏紫金财富金融信息服务有限公司运营的一家从事互联网金融服务的平台。和融网秉承“诚信立业，稳健行远”的经营理念，通过完善的风控体系和先进的互联网技术的有效结合，为社会富余资金和具有融资需求的实体经济单位提供便捷、高效、安全的投融资居间撮合服务。在积极引导社会富余资金帮助中小微企业健康发展的同时助推社会经济发展。</p>
<p>江苏紫金财富金融信息服务有限公司成立于2014年5月，总部座落在江苏省省会城市南京，目前在江苏省的南京、镇江、扬州、泰州、淮安、常州、盐城、连云港均设立了直营分公司，计划在2015年完成江苏省所有地级市及部分重点县级市的分公司覆盖。公司的核心团队由多年金融系统工作经验的行业精英和专业的互联网资深人士组成，在业务资源、项目质量、信用评估、风险核查、风险控制、风险化解、风控措施、数据安全等方面均参照专业银行标准严格把关，最大程度地保证投资人的投资安全。和融网是江苏紫金财富金融信息服务有限公司在线下金融服务成功运营的基础上，为投融资用户搭建的线上延伸服务平台。融资用户在通过和融网及平台合作机构的双重风控审核后，可以在和融网平台发布借款请求来实现个人或企业的快捷融资需要；投资用户可以把自己的富余资金通过和融网平台出借给信用良好有资金需求的个人或企业，在获得低风险，高收益的投资回报的同时帮助了优质的融资人或企业。与此同时亦促进了社会经济的健康发展，实现了多方共赢。</p>        
<h3 class="titAbout">二、管理团队：</h3>
<dl>
<dt>戚浩萌-总经理</dt>
<dd>戚浩萌先生，扬州大学金融专业毕业，拥有30多年国有银行从业经验，先后在县级支行、市分行营业部担任副行长、行长职务，在市分行信贷部、国际业务部、个人金融部、电子银行部担任总经理职务。有丰富的银行管理经验和金融理论知识，对信贷管理、金融产品营销、风控管理、金融市场等方面有深厚的理论基础及实践经验，现任江苏紫金财富金融信息服务公司总经理。</dd>
<dt>俞寿平-副总经理</dt>
<dd>俞寿平先生，南京大学国际金融专业研究生，在国有银行任职30年，担任过二级分行行长，省行信贷处处长，公司业务部总经理，担保公司总经理，P2P平台公司常务副总经理。有丰富的银行管理经验和金融理论知识，熟悉P2P经营规范，对风控管理、项目研判、风险化解等方面有深厚的理论基础及实践经验。现任江苏紫金财富金融信息服务公司副总经理。</dd>
<dt>王良平-江苏紫金财富南京分公司总经理</dt>
<dd>王良平先生，毕业于江苏银行学校城市金融专业，研究生学历，拥有30多年国有银行从业经验，在南京担任区级支行行长、市分行中小企业部总经理，曾多次荣获南京市经计委、科委技术改造、技术进步、科技进步奖。金融知识丰富，人脉关系广泛。现任江苏紫金财富金融信息服务公司南京分公司总经理。</dd>
<dt>郭明-江苏紫金财富扬州分公司总经理</dt>
<dd>郭明先生，2000年毕业于扬州大学电子信息工程专业，从事金融相关行业工作多年，熟悉企业融资、市场营销、信贷管理、项目风控业务，在扬州地区拥有广泛的业务资源。现任江苏紫金财富金融信息服务公司扬州分公司总经理。</dd>
<dt>李华-江苏紫金财富泰州分公司总经理</dt>
<dd>李华先生，拥有30多年国有银行从业经验，历任农行兴化支行副行长、镇江分行副行长、泰州分行副行长、党委副书记。在泰州地区拥有广泛的社会资源、人脉资源和业务资源，对本土企业的经营状况相当熟悉。现任江苏紫金财富金融信息服务公司泰州分公司总经理。</dd>
<dt>鹿建军-江苏紫金财富淮安分公司总经理</dt>
<dd>鹿建军先生，毕业于江苏银行学校国际金融专业，先后担任中国银行连云港分行团总支副书记、淮安市国家税务局办公室主任、淮安市国家税务局国际税收管理分局局长、淮安经济开发区分局局长、淮安市楚州区国家税务局党组书记、局长等职务。熟悉当地金融环境，对当地的企业经营状况有深刻的了解。现任江苏紫金财富金融信息服务公司淮安分公司总经理。</dd>
<dt>侯斌林-江苏紫金财富镇江分公司总经理</dt>
<dd>侯斌林先生，从事金融相关行业多年，熟悉企业融资、市场营销、信贷管理、项目风控业务，在镇江地区拥有广泛的人脉资源及业务资源。现任江苏紫金财富金融信息服务公司镇江分公司总经理。</dd>
<dt>李步辉-江苏紫金财富常州分公司总经理</dt>
<dd>李步辉先生，本科学历，从事银行信贷业务近三十年，历任中国银行常州市分行信贷处处长、中国银行武进市支行行长。在常州地区拥有广泛的社会资源、人脉资源和业务资源，对本土企业的经营状况相当熟悉。现任江苏紫金财富金融信息服务公司常州分公司总经理。</dd> 
<dt>朱宗学-江苏紫金财富盐城分公司总经理</dt>
<dd>朱宗学先生，毕业于江苏银行学校农村金融专业，南京农大本科金融毕业，从事国有银行工作30多年，历任响水、滨海、建湖三个县支行的行长。在盐城地区拥有广泛的社会资源、人脉资源和业务资源，对本土大多数企业的经营状况、信用状况相当熟悉。现任江苏紫金财富金融信息服务公司盐城分公司总经理。</dd>
<dt>李玉明-江苏紫金财富连云港分公司总经理</dt>
<dd>李玉明先生，毕业于江苏银行学校城市金融专业，金融本科毕业。从事国有银行工作30多年，历任灌云支行行长，连云港市海州支行行长，连云港经济技术开发区支行行长，党支部书记。在连云港地区拥有广泛的社会资源、人脉资源和业务资源，对本土大多数企业的经营状况、信用状况相当熟悉。现任江苏紫金财富金融信息服务公司连云港分公司总经理。</dd>
<dt>季扬-江苏紫金财富公司直营部总经理</dt>
<dd>季扬先生，毕业于扬州大学商务管理专业。从事金融行业多年，曾任职于交通银行扬州分行风控、信贷部门多年，熟悉风险评估业务和运作流程，有丰富的风险管理经验。2014年5月加入紫金大家庭，担任扬州分公司团队经理，在团队中起到一个很好的领头羊的作用，2014年凭借自己个人优秀的业绩取得了年度业务精英的称号。2015年2月正式担任江苏紫金财富金融信息服务直营部总经理一职。</dd>
</dl>
<h3 class="titAbout">三、发展历程：</h3>
<ul>
<li><span class="time">2015年1月9日</span>江苏紫金财富南京分公司成立</li>
<li><span class="time">2014年12月28日</span>江苏紫金财富连云港分公司成立</li>
<li><span class="time">2014年12月16日</span>江苏紫金财富盐城分公司成立</li>
<li><span class="time">2014年12月7日</span>江苏紫金财富常州分公司成立</li>
<li><span class="time">2014年11月6日</span>线下金融服务交易金额突破1亿元</li>
<li><span class="time">2014年8月1日</span>江苏紫金财富泰州分公司成立</li>
<li><span class="time">2014年7月8日</span>江苏紫金财富淮安分公司成立</li>
<li><span class="time">2014年5月28日</span>江苏紫金财富扬州分公司成立</li>
<li><span class="time">2014年5月18日</span>江苏紫金财富镇江分公司成立</li>
<li><span class="time">2014年5月12日</span> 江苏紫金财富金融信息服务有限公司成立</li>
</ul>
</div>
</div>
</div>
<@b.footer />
</body>
</html>
