<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天天赚-服务协议书</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<@b.headerIndex />
<div class="fence-wide product">
<div class="yard-1100 local f14"><a href="${basePath}index.htm" class="lnk-green">天天赚</a><span>&gt;</span>服务协议书</div>
<div class="yard-1100 prodCont">
<div class="titMain">
  <h2 class="fontYH">服务协议书</h2></div>
<div class="aboutBox fontYH f16">
<p>天天赚平台由江苏紫金财富金融信息服务有限公司成立并运营，以下所称"本网站"包含了网站本身和网站运营商江苏紫金财富金融信息服务有限公司。 在您注册成为本网站用户前，您已充分阅读并理解本《注册协议》（以下简称"本协议"）的所有条款。您同意以下条款并注册后，将有权依据本协议的条款接受本网站的服务，同时有义务接受本协议条款的约束。</p>
<h3 class="titAbout">一、本协议的文本</h3>
<p>1.1 本协议的内容包括以下全部条款以及本网站已经发布的及将来可能发布的与投资人用户有关的各项规则，该等规则均为本协议不可分割的一部分，与以下所列条款具有同等法律效力。</p>
<p>1.2 本网站有权根据需要修改本协议的内容。如以下条款或本网站各项规则有任何变更，本网站将在网站上刊载公告。经修订的相关条款和规则一经公告，即于公告规定的特定生效日期自动生效。请您适时关注本网站关于相关条款和规则的公告，如不同意该等变更，请您在该等变更的公告刊载之日起72小时内以您在本网站注册时提供的个人邮箱向本网站的服务邮箱(zijincaifu.com)发送邮件表明希望终止本协议（"注册终止申请"），本网站确认收到您的邮件后将与您协商本协议终止后双方义务的履行。如您在本条所述时限内未发送注册终止申请，则本条所述时限届满之时，视为您已经同意接受该等变更，经修订的相关条款和规则一经公告，即于公告规定的特定生效日期自动生效并对您产生法律约束力。</p>        
<p>1.3 您只要勾选位于注册页面下方的"我已阅读并同意《天天赚平台网站服务协议》"选项并按照本网站的流程成功注册后，本协议即产生法律效力。您不得以未签署书面协议为由否认本协议的效力。本协议是由您与本网站共同签订的，适用于您在本网站的全部活动。在您注册成为用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。</p>        
<p>1.4 本协议不涉及您与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷。</p>        
<h3 class="titAbout">二、注册用户的身份限制</h3>
<p>2.1 作为本网站用户，您必须是中国大陆公民，年龄在18周岁（含18周岁）以上，且具有完全的民事权利能力及民事行为能力。如不具备上述资格，您应立即停止在本网站的注册程序、停止使用本网站服务，本网站有权随时终止您的注册进程及本网站服务，您应对您的注册给本网站带来的损失承担全额赔偿责任，且您的监护人（如您为限制民事行为能力的自然人）或您的实际控制人（如您为实体）应承担连带责任。</p>
<p>2.2 在注册时和使用本网站服务的所有期间，您应提供您自身的真实资料和信息，并保证自您注册之时起至您使用本网站服务的所有期间，其所提交的所有资料和信息 （包括但不限于电子邮件地址、联系电话、联系地址、邮政编码、个人身份信息、征信信息等）真实、准确、完整，且是最新的。</p>        
<h3 class="titAbout">三、本网站的服务内容</h3>
<p>3.1 本网站通过本网站以及其他渠道和方式等向您提供以下服务中的一项或多项：</p>
<p>(1) 撮合您与融资人形成借贷交易的居间服务； </p> 
<p>(2) 您对融资人的既有债权的转让；</p>        
<p>(3) 信贷信息咨询与中介及贷后管理服务；</p>        
<p>(4) 其他相关服务。</p>        
<p>3.2 本网站就向您提供的服务是否收取服务费及服务费的具体标准和规则由本网站公布的规则确定。</p>        
<h3 class="titAbout">四、用户使用限制</h3>
<p>4.1 您不得利用本网站或本网站服务从事任何不符合中国法律法规或侵犯他人权益的活动。本网站在发现您从事该等活动时，有权不经通知而立即停止您对本网站的全部或部分功能的使用。</p>
<p>4.2 在使用本网站提供的任何服务（包括但不限于站内信服务、群组服务、论坛服务或其他电子邮件转发服务）的过程中，您不得发送、公布或展示任何垃圾邮件、信息 或其他可能违反中国法律法规及本协议的内容。本网站在发现您从事该等活动或发布该等内容时，有权不经您同意而删除该等内容，并有权不经通知而立即暂停或停止您对本网站的全部或部分功能的使用。</p>        
<p>4.3 您在注册时向本网站提交的电子邮箱、密码是您在本网站的唯一识别信息。您注册成功后，不得将注册的电子邮箱、密码转让或授权给第三方使用。您确认，使用您的用户名和密码登录本网站后在本网站的一切行为以及以您在本网站注册时提交的个人电子邮箱发送邮件的行为均代表您本人并由您承担相应的法律后果。 </p>        
<p>4.4 本网站的所有内容，包括但不限于文本、数据、图片、音频、视频、源代码和其他所有信息，均由本网站享有知识产权。未经本网站事先书面同意，您或其他任何人不得复制、改编、传播、公布、展示或以任何其他方式侵犯本网站的知识产权。</p>        
<h3 class="titAbout">五、用户信息的保护及披露</h3>
<p>5.1 您同意本网站在业务运营中收集和储存您的用户信息，包括但不限于您自行提供的资料和信息，以及本网站自行收集、取得的您在本网站的交易记录和使用信息等。本网站收集和储存您的用户信息的主要目的在于提高为您提供服务的效率和质量。</p>
<p>5.2 您同意本网站在业务运营中使用您的用户信息，包括但不限于 :</p>        
<p>(1) 向本网站的合作机构（该合作机构仅限于本网站为了完成拟向您提供的服务而合作的机构）提供您的用户信息;</p>        
<p>(2) 由人工或自动程序对您信息进行评估、 分类、研究;</p>        
<p>(3) 使用您的用户信息以改进本网站的推广;</p>        
<p>(4) 使用您提供的联系方式与您联络并向您传递有关业务和管理方面的信息。</p>        
<p>本网站有时候可能调查多个用户以识别问题或解决争议，特别是本网站可审查您的资料以区分使用多个用户名或别名的用户。</p>        
</div>
</div>
</div>
<@b.footer />
</body>
</html>
