<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天天赚-联系我们</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<@b.headerIndex />
<div class="fence-wide product">
<div class="yard-1100 local f14"><a href="${basePath}index.htm" class="lnk-green">天天赚</a><span>&gt;</span>联系我们</div>
<div class="yard-1100 prodCont">
<div class="titMain">
  <h2 class="fontYH">联系我们</h2></div>
  <div class="contBox f16 fontYH">
  <div class="contBar">
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
  <tr>
    <th>公司总部</th>
    <td>江苏紫金财富金融信息服务有限公司</td>
  </tr>
  <tr>
    <th>公司地址</th>
    <td>南京市栖霞区仙林大道18号</td>
  </tr>
  <tr>
    <th>电话</th>
    <td>025-85389967</td>
  </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
    <tr>
      <th>扬州公司</th>
      <td>扬州分公司</td>
    </tr>
    <tr>
      <th>公司地址</th>
      <td>扬州市邗江区博物馆路547号德馨大厦15层</td>
    </tr>
    <tr>
      <th>电话</th>
      <td>0514-87780897</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
    <tr>
      <th>镇江公司</th>
      <td>镇江分公司</td>
    </tr>
    <tr>
      <th>公司地址</th>
      <td>镇江市润州区常发大厦8号楼14层</td>
    </tr>
    <tr>
      <th>电话</th>
      <td>0511-85483668</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
    <tr>
      <th>泰州公司</th>
      <td>泰州分公司</td>
    </tr>
    <tr>
      <th>公司地址</th>
      <td>泰州市海陵区万达广场写字楼2004室</td>
    </tr>
    <tr>
      <th>电话</th>
      <td>0523-86505799</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
    <tr>
      <th>淮安公司</th>
      <td>淮安分公司</td>
    </tr>
    <tr>
      <th>公司地址</th>
      <td>淮安市清河区淮海东路1号丰惠广场1508室</td>
    </tr>
    <tr>
      <th>电话</th>
      <td>0517-83968929</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
    <tr>
      <th>常州公司</th>
      <td>常州分公司</td>
    </tr>
    <tr>
      <th>公司地址</th>
      <td>常州市武进区武宜中路188号吾悦广场1号楼1612室</td>
    </tr>
    <tr>
      <th>电话</th>
      <td>0519-85519913</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
    <tr>
      <th>盐城公司</th>
      <td>盐城分公司</td>
    </tr>
    <tr>
      <th>公司地址</th>
      <td>盐城市亭湖区钱江财富广场B座1612室</td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" class="tableCont fontYH">
    <tr>
      <th>连云港公司</th>
      <td>连云港分公司</td>
    </tr>
    <tr>
      <th>公司地址</th>
      <td>连云港市新浦区巨龙南路59号八佰城市走廊E504室</td>
    </tr>
    <tr>
      <th>电话</th>
      <td>0518-85805518</td>
    </tr>
  </table>
  </div>
  </div>
</div>
</div>
<@b.footer />
</body>
</html>
