<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天天赚-首页</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
<link href="${b.staticPath}style/member.css" rel="stylesheet" type="text/css" />
<link href="${b.staticPath}style/slide.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js"></script>
<script src="${b.staticPath}js/bootstrap.js"></script>
<script src="${b.staticPath}js/slide.js"></script>
<script>
  $(function(){
	 $.post("${basePath}investPeople.htm",function(data){
		 $("#earnings").text(data.earnings/100);
		 $("#allAmount").text(data.amout/100);
		 $("#people").text(data.num);
	 });
  })
  function invest(id){
	location.href="${basePath}prod/prodInfo.htm?debtId="+id;
  } 
</script>
</head>
<body>
<@b.headerIndex />
<div class="slider">
    <div class="ck-slide">
			<ul class="ck-slide-wrapper">
				<li>
					<img src="${b.staticPath}images/banner001.jpg" alt="">
				</li>
				<li style="display:none">
					<img src="${b.staticPath}images/banner002.jpg" alt="">
				</li>
				<li style="display:none">
					<img src="${b.staticPath}images/banner003.jpg" alt="">
				</li>
			</ul>
			<a href="javascript:;" class="ctrl-slide ck-prev">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next">下一张</a>
			<div class="ck-slidebox">
				<div class="slideWrap">
					<ul class="dot-wrap">
						<li class="current"><em>1</em></li>
						<li><em>2</em></li>
						<li><em>3</em></li>
					</ul>
				</div>
			</div>
		</div>		
		<script>
			$('.ck-slide').ckSlide({
				autoPlay: true
			});
		</script>
</div>
<div class="fence-wide about">
<div class="yard-1100 aboutCont pr">
<dl class="aboutInfo pa">
<dt><span class="icon mon"></span>为投资人赚取收益</dt>
<dd><span class="money"><dfn>&yen;</dfn><span id="earnings"></span><span class="f20">元</span></span></dd>
<dt><span class="icon coin"></span>代收本金总额</dt>
<dd><span class="money"><dfn>&yen;</dfn><span id="allAmount"></span><span class="f20">元</span></span></dd>
<dt><span class="icon member"></span>天天赚投资会员</dt>
<dd><span class="money"><dfn><span id="people"></span></dfn><span class="f20">人</span></span></dd>
</dl>
</div>
</div>
<div class="fence-wide product">
<div class="yard-1100 prodCont">
<div class="titMain"><h2 class="fontYH">投资列表</h2></div>
<#list list as model>
<div class="prodBox ly-clearFix">
<div class="prodInfo ly-left">
<div class="prodTit fontYH ly-clearFix"><span class="icon blue"></span><span><#if (model.commodityType==1)>和融直营</#if></span><span ><a href="javascript:invest('${model.debtId}');">${model.title}</a></span></div>
<table border="0" cellspacing="0" cellpadding="0" class="tableProd">
  <tr>
    <td>
    <p class="fontYH"><span class="f28 mr5"><#if (model.amount>0)>${model.amount/1000000}<#else>0</#if></span><span class="f14">万</span></p>
    <p class="gray">融资金额</p>
    </td>
    <td> <p class="fontYH"><span class="f28 mr5">${model.months}</span><span class="f14">个月</span></p>
    <p class="gray">期限</p></td>
    <td> <p class="fontYH"><span class="f28 mr5"><#if (model.minInvest>0)>${model.minInvest/100}<#else>0</#if></span><span class="f14">元</span></p>
    <p class="gray">起投金额</p></td>
    <td> <p class="fontYH red fb"><span class="f28 mr5">${model.annualizedRate}</span><span class="f14">%</span></p>
    <p class="gray">年化利率</p></td>
  </tr>
</table>
</div>
<div class="btnBox ly-left">
  <div class="progress">
    <#if (model.finance?? && (model.finance>0))>
    <#assign bfb=model.finance/model.amount*100>
    <#else>
    <#assign bfb=0>
    </#if>
    <div class="progress-bar" role="progressbar" aria-valuenow='${bfb?string("#.##")}' aria-valuemin="0" aria-valuemax="100" style='width:${bfb?string("#.##")}%'> <span class="sr-only">${bfb?string("#.##")}%</span> </div>
  </div>
  <#if (model.status<=1)>
  <button class="button button-red fontYH" onclick="invest('${model.debtId}')">立即投资</button>
  </#if>
  <#if (model.status==2)>
  <button class="button button-red disabled fontYH">流标</button>
  </#if>
  <#if (model.status==3)>
  <button class="button button-red disabled fontYH">满标审核</button>
  </#if>
  <#if (model.status==4)>
  <button class="button button-red disabled fontYH">还款中</button>
  </#if>
  <#if (model.status==5)>
  <button class="button button-red disabled fontYH">完成</button>
  </#if>
</div>
</div>
</#list>
<div class="more tc fontYH"><a href="prod/bdList.htm">查看更多投资理财项目>></a></div>
</div>
<div class="yard-1100 linkBox">
  <div class="titMain">
    <h2 class="fontYH">合作伙伴</h2>
  </div>
  <div class="linkCont">
  <ul class="ly-clearFix">
  <li><img src="${b.staticPath}images/friend/y1.gif" alt="江苏银行" width="168" height="52" /></li>
  <li><img src="${b.staticPath}images/friend/y2.gif" alt="中国银行" width="168" height="52" /></li>
  <li><img src="${b.staticPath}images/friend/y3.gif" alt="江苏农贷" width="168" height="52" /></li>
  <li><img src="${b.staticPath}images/friend/y4.gif" alt="江苏科贷" width="168" height="52" /></li>
  <li><img src="${b.staticPath}images/friend/y5.gif" alt="江苏国信" width="168" height="52" /></li>
  </ul>
  </div>
</div>
</div>
<@b.footer />
</body>
</html>
