<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>和融网</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
<link href="${b.staticPath}style/slide.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js"></script>
<script src="${b.staticPath}js/bootstrap.js"></script>
<script src="${b.staticPath}js/slide.js"></script>
<script>
  $(function(){
	  
  })
  function invest(id){
	location.href="${basePath}prod/prodInfo.htm?debtId="+id;
} 
</script>
</head>
<body>
<div class="fence-wide bgBlack">
<div class="yard-1100 topMenu fontYH ly-clearFix">
<ul class="ly-clearFix ly-right">
<li><a href="${basePath}login.htm">登录</a>|</li>
<li><a href="${basePath}user/register.htm">注册</a></li>
</ul>
</div>
</div>
<div id="header" class="fence-wide">
<div class="yard-1100 ly-clearFix">
<h1 class="ly-left" title="和融网">和融网</h1>
<ul class="navMenu fontYH ly-left">
<li class="current"><a href="${basePath}index.htm">首页</a></li>
<li><a href="${basePath}prod/bdList.htm">我要投资</a></li>
<li><a href="${basePath}apply/toApply.htm">我要融资</a></li>
<li><a href="#">我的账户</a></li>
</ul>
</div>
</div>

<div class="slider">
    <div class="ck-slide">
			<ul class="ck-slide-wrapper">
				<li>
					<a href="#"><img src="${b.staticPath}images/banner001.jpg" alt=""></a>
				</li>
				<li style="display:none">
					<a href="#"><img src="${b.staticPath}images/banner002.jpg" alt=""></a>
				</li>
				<li style="display:none">
					<a href="#"><img src="${b.staticPath}images/banner003.jpg" alt=""></a>
				</li>
			</ul>
			<a href="javascript:;" class="ctrl-slide ck-prev">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next">下一张</a>
			<div class="ck-slidebox">
				<div class="slideWrap">
					<ul class="dot-wrap">
						<li class="current"><em>1</em></li>
						<li><em>2</em></li>
						<li><em>3</em></li>
					</ul>
				</div>
			</div>
		</div>		
		<script>
			$('.ck-slide').ckSlide({
				autoPlay: true
			});
		</script>
</div>
<div class="fence-wide about">
<div class="yard-1100 aboutCont pr">
<dl class="aboutInfo pa">
<dt><span class="icon mon"></span>为投资人赚取收益</dt>
<dd><span class="money"><dfn>&yen;</dfn>763,419.63<span class="f20">元</span></span></dd>
<dt><span class="icon coin"></span>代收本金总额</dt>
<dd><span class="money"><dfn>&yen;</dfn>763,419.63<span class="f20">元</span></span></dd>
<dt><span class="icon member"></span>和融网投资会员</dt>
<dd><span class="money"><dfn>5529</dfn><span class="f20">人</span></span></dd>
</dl>
</div>
</div>
<div class="fence-wide product">
<div class="yard-1100 prodCont">
<div class="titMain"><h2 class="fontYH">投资列表</h2></div>
<#list list as model>
<div class="prodBox ly-clearFix">
<div class="prodInfo ly-left">
<div class="prodTit fontYH ly-clearFix"><span class="icon blue"></span><span>和融直营</span><span>${model.title}</span></div>
<table border="0" cellspacing="0" cellpadding="0" class="tableProd">
  <tr>
    <td>
    <p class="fontYH"><span class="f28 mr5"><#if (model.amount>0)>${model.amount/1000000}<#else>0</#if></span><span class="f14">万</span></p>
    <p class="gray">融资金额</p>
    </td>
    <td> <p class="fontYH"><span class="f28 mr5">${model.months}</span><span class="f14">个月</span></p>
    <p class="gray">期限</p></td>
    <td> <p class="fontYH"><span class="f28 mr5"><#if (model.minInvest>0)>${model.minInvest/100}<#else>0</#if></span><span class="f14">元</span></p>
    <p class="gray">起投金额</p></td>
    <td> <p class="fontYH red fb"><span class="f28 mr5">${model.annualizedRate*100}</span><span class="f14">%</span></p>
    <p class="gray">年化利率</p></td>
  </tr>
</table>
</div>
<div class="btnBox ly-left">
  <div class="progress">
    <#if (model.finance?? && (model.finance>0))>
    <#assign bfb=model.finance/model.amount*100>
    <#else>
    <#assign bfb=0>
    </#if>
    <div class="progress-bar" role="progressbar" aria-valuenow='${bfb?string("#.##")}' aria-valuemin="0" aria-valuemax="100" style='width:${bfb?string("#.##")}%'> <span class="sr-only">${bfb?string("#.##")}%</span> </div>
  </div>
  <button class="button button-red fontYH" onclick="invest('${model.debtId}')">立即投资</button>
</div>
</div>
</#list>
<div class="more tc fontYH"><a href="prod/bdList.htm">查看更多投资理财项目>></a></div>
</div>
<div class="yard-1100 linkBox">
  <div class="titMain">
    <h2 class="fontYH">合作伙伴</h2>
  </div>
  <div class="linkCont">
  <ul class="ly-clearFix">
  <li><img src="images/friend/y1.gif" alt="江苏银行" width="168" height="52" /></li>
  <li><img src="images/friend/y2.gif" alt="中国银行" width="168" height="52" /></li>
  <li><img src="images/friend/y3.gif" alt="江苏农贷" width="168" height="52" /></li>
  <li><img src="images/friend/y4.gif" alt="江苏科贷" width="168" height="52" /></li>
  <li><img src="images/friend/y5.gif" alt="江苏国信" width="168" height="52" /></li>
  </ul>
  </div>
</div>
</div>
<div class="fence-wide bgBlack">
<div id="footer" class="yard-1100 f12 fontYH ly-clearFix">
<div class="menuCont tc">
<ul class="ly-clearFix f18">
  <li><a href="html/about-us.html">关于我们</a></li>
  <li><a href="html/products.html">产品优势</a></li>
<li><a href="html/contact-us.html" class="borderNone">联系我们</a></li>
</ul>
<p class="f12"><span>&copy;&nbsp;2015&nbsp;和融网&nbsp;版权所有</span><span>www.herongwangnt.com</span>苏ICP备14047993号-2</p>
<p class="f12">地址：江苏省南京市栖霞区马群街道仙林大道18号</p>
</div>
</div>
</div>
</body>
</html>
