    <div class="yard-200 ly-left leftMenu fontYH" id="leftMenu">
      <ul>
        <li><a href="${basePath}user/memberInfo.htm">个人资料</a></li>
        <li><a href="${basePath}debt/queryDebt.htm">我的融资</a></li>
        <li><a href="${basePath}invest/list.htm" >我的投资</a></li>
        <li><a href="${basePath}fundDetail/queryFundDetail.htm">资金明细</a></li>
      </ul>
    </div>
    <script>
	$("#leftMenu a").removeClass("on");
	$("#leftMenu a").each(function(){
		if(window.location.href.indexOf($(this).attr("href"))>=0)
			$(this).addClass("on");
	});
</script>