<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>和融网-关于我们</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<@b.headerIndex />
<div class="fence-wide product">
<div class="yard-1100 local f14"><a href="../index.html" class="lnk-green">和融网</a><span>&gt;</span>产品优势</div>
<div class="yard-1100 prodCont">
<div class="titMain">
  <h2 class="fontYH">产品优势</h2></div>
<div class="aboutBox fontYH f16">
<dl>
<dt>公正</dt>
<ol class="pb20">
<li><p>第三方在线支付平台，创造可信任交易环境。</p></li>
<li><p>保障商户的利益：协调解决买卖双方产生的贸易纠纷。</p></li>
<li><p>保障消费者的利益：为消费者提供卖方发货的担保。</p></li>
</ol>
<dt>便捷</dt>
<ol class="pb20">
<li><p>接入简易，定期升级，保障使用安全。</p></li>
<li><p>网关接口安装简单，通过简易程序即可完成接入工作。</p></li>
<li><p>接口开通获得多家银行网关支持，立即实现网上收单功能。</p></li>
<li><p>网上支付系统自动升级。用户端由 95EPAY 支付系统协助升级，商户无需手动更新</p></li>
</ol>
<dt>开放</dt>
<ol class="pb20">
<li><p>多银行支持，多卡种支付，多种在线支付方式，多种语音支持。</p></li>
<li><p>95EPAY 在线支付平台是一个开放的体系，与各大国内外银行以及国际信用卡组织的不断深入合作，开发全面的银行卡支付、信用卡支付、MOTO支付等多种支付方式，为商户开辟全球化的互联网业务。</p></li>
</ol>
<dt>专业</dt>
<ol class="pb20">
<li><p>专业的产品服务、专业的服务队伍、专业的技术队伍。</p></li>
<li><p>专业的技术力量，设计与创造并推进交易发生的多元化支付机制，消除交易环节中产生的支付障碍，保证大小交易顺利进行。</p></li>
<li><p>从网站到数据库，从大型硬件设备到多种收汇通道，95EPAY 在线支付平台基于先进的技术环境，保障业务安全高速运转。</p></li>
</ol>
</dl>
</div>
</div>
</div>
<@b.footer />
</body>
</html>
