<#assign staticPath="http://static.menchuang.org.cn/p2p-manager/" />
<#assign imagePath="http://storage.menchuang.org.cn/p2p-manager/" />
<#macro dialog>
<script src="${staticPath}js/dialog.js"></script>
<link rel="stylesheet" href="${staticPath}style/ui-dialog.css" />
</#macro>
<#macro validate>
<!--<script src="${staticPath}js/jquery.validate.js"></script>-->
<script src="${staticPath}js/Validform_v5.3.2.js"></script>
<script src="${staticPath}js/jquery.poshytip.min.js"></script>
<script>
$(function(){
	$(":input").each(function(){
		if($(this).attr("title"))
			$(this).poshytip({
		className: 'tipMsg msg-gray ml5',
		showOn: 'focus',
		alignTo: 'target',
		alignX: 'right',
		alignY: 'center',
		offsetX: 5
	});
	
	});
});
</script>
</#macro>
<#macro pageScript>
<!--<script src="${staticPath}js/jquery.paginate.js"></script>  -->
<script src="${staticPath}js/jquery.pagination_2.js"></script>
<link rel="stylesheet" href="${staticPath}style/pagination_2.css" />
<script>
function loadPage(currentPage,totalPage) {
	$(".jump").die("click");
	// 创建分页
	$(".pagination").attr("currentPage",currentPage);
	$(".pagination").attr("totalPage",totalPage);
	$(".pagination").pagination(totalPage, {
		num_edge_entries: 1, //边缘页数
		num_display_entries: 4, //主体页数
		callback: function(page_index,jp){
			//loadingImg();
			query(page_index+1);
			$(".pagination").attr("currentPage",page_index+1);
			return false;
		},
		current_page:currentPage-1,
		items_per_page:1, //每页显示1项
		prev_text: "前一页",
		next_text: "后一页"
	});
	jump(currentPage);
 }
$(".pagination").ready(function(){
	loadPage(${query.currentPage},${query.totalPage});
});
var jump = function(currentPage){
	$(".pagination").append("&nbsp;<span style='color:#15b;'>到第<input name=''class='pageNumber' style=' width: 35px;margin:0 3px;' value='"+currentPage+"'/>页</span><a class='next jump' >确定</a>");
	$(".jump").live("click",function(){
		$(".pageNumber").each(function(i){
			if(i==0){
				var totalPage=$(".pagination").attr("totalPage");
				var pageNumber = $(this).val();
				$(this).val(pageNumber.replace(/\D/gi, ""));
				pageNumber=pageNumber.replace(/\D/gi, "");
				if(pageNumber!=''){
					if(parseInt(pageNumber)>parseInt(totalPage)){
						//数值大于当前最大页码,返回当前最大页码
						$(this).val(totalPage);
						pageNumber=totalPage;
					}
					query(pageNumber);
				}
			}
		})
	});
}
$(".pageNumber").live("keyup",function(){
	var $val = $(this).val();
	$(".pageNumber").each(function(){
		$(this).val($val);
	})
})
</script>
</#macro>
<#macro upload>
<script src="${staticPath}js/jquery.uploadify.js"></script>
<link href="${staticPath}style/uploadify.css" rel="stylesheet" type="text/css" />
</#macro>
<#macro header>
  <Script>
  $.post("${basePath}userName.htm",function(data){
	  $("#headName").html(data+"，您好！");
  })
  </Script>
  <div class="fence-wide">
    <p class="ly-right logOut"><span id="headName">杜金鑫，您好！</span><a href="${basePath}logout.htm">退出当前帐户</a></p>
    <h1 class="fontYH fb ly-left" title="和融网">管理平台</h1>
  </div>
</#macro>
<#macro leftMenu isLoad>
<div id="leftList"></div>
<script>
var url=window.location.href;
$("#leftList").load("${basePath}leftMenu.htm");
/* $.post("${basePath}checkLogin.htm",function(data){
	if (data=="erro"){
		location.href="${basePath}login.htm";
	}
}) */
</script>
</#macro>
<#macro pager>
<!--<div id="pager" class="jPaginate" totalPage="${query.totalPage}" currentPage="${query.currentPage}"></div>  -->
<div id="pager" class="pagination ly-right" currentPage="${query.currentPage}" totalPage="${query.totalPage}"></div>
</#macro>
<#macro menuPath>
<div class="local" id="menuPath">
</div>
<script>
$("#menuPath").load("${basePath}menu_path.htm");
</script>
</#macro>
<#macro footer>
<script type="text/javascript">
$(document).ready(function(){
	var newDate = new Date();
	var year = newDate.getFullYear();
	$("#yearSapn").text(year);
});
</script>
<div id="footer" class="fence-wide">
  <div class="yard-1200">
    <p>&copy; <span id="yearSapn"></span> 私享家绿色门窗平台&nbsp;版权所有&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14040094号-1</a></p>
  </div>
</div>

</#macro>

